<div class="flip">
    <div class="card" ng-class="{'flipped' : flipped}">

        <div class="front face" ng-class="{'wrong-face': doneFlipping && flipped}">
            <div class="progress-background">
                <progressbar max="max" value="dynamic"></progressbar>
            </div>

            <div class="outer-container"  ng-class="{'active': $parent.$index === $parent.selectedIndex}">
                <div class="file-preview">
                    <img class="placeholder-file" ng-hide="imageType" src="assets/images/file.png">
                    <span ng-hide="imageType" class="file-type">{{file.extension}}</span>
                    <div class="image-preview" ng-show="imageType" ng-style="{'background-image':'url({{file.fullUrl}})'}"></div>
                </div>

<!--                 <div class="middle-sectioncol-sm-8"> -->
                <div class="middle-section">
                    <div class="row col-sm-12 file-title">
                        <span class="file-name">{{file.name}}</span><span class="file-extension">.{{file.extension}}</span>
                    </div>

                    <div class="row col-sm-12 file-info">
                        <div class="downloads file-info-bit">
                            <i class="fa fa-download fa-lg"></i>
                            <ng-pluralize class="download-text"
                                          ng-show="file.maxDownloads < 0"
                                          count="file.numDownloads"
                                          when="{'0':'0 times',
                                                 '1':'1 time',
                                                 'other':'{} times'}">
                            </ng-pluralize>
                            <span ng-hide="file.maxDownloads < 0" class="download-text">{{file.numDownloads}} of {{file.maxDownloads}}</span>
                        </div>

                        <password-tool ng-click="passwordClicked()" has-password="!!file.password"></password-tool>

                        <div class=" time file-info-bit">
                            <i class="fa fa-clock-o"></i>
                            <span am-time-ago="date"></span>
                        </div>
                    </div>

                    <div class="row col-sm-12 file-size">
                        <span ng-show="!newFile || (newFile && !!doneUploading)">{{file.size | bytes}}</span>
                        <span ng-show="(newFile && !doneUploading)">{{percentUploaded}}% uploaded</span>
                    </div>
                </div>


                <div class="right-ops">
                    <div class="delete">
                        <i class="fa fa-trash fa-lg"></i>
                    </div>
					<a href="" clip-click-fallback="fallback(copy)" clip-copy="downloadPageUrl" clip-click="doSomething()">
                    	<div class="copy">
                        	copy
                    	</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="password-enter back face" ng-class="{'wrong-face': doneFlipping && !flipped}">
            <form name="passwordForm" ng-submit="setPassword()">
                <input type="password" ng-model="password" name="password" placeholder="#supersafepassword" focus-me="flipped"/>
                <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
            </form>
            <div class="password_buttons">
	            <button ng-click="passwordCancelled()" class="pass_Save">Save</button>
	            <button ng-click="passwordSaved()" class="pass_cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>