<!--<link href="/assets/css/bootstrap.min.css" rel="stylesheet"/>-->

<div class="center">
    <div class="page-header">
        <img src="assets/images/logo.png" class="logo">
    </div>

    <form class="form-horizontal" autocomplete="off" method="POST" ng-submit="login();" id="fade" novalidate>
        <div class="control-group s_field" id="username_field">
            <!--<label class="control-label" for="username">Email</label>-->
            <div class="controls">
                <input type="text" id="username" name="username" ng-model="username" value="" placeholder="Email" class="input-xlarge"  autocomplete="off">
                <!--<span class="help-block">Required</span>-->
            </div>
        </div>

        <div class="control-group s_field" id="password_field">
            <!--<label class="control-label" for="password">Password</label>-->
            <div class="controls">
                <input type="password" id="password" name="password" ng-model="password" placeholder="Password" class="input-xlarge"  autocomplete="off">
                <!--<span class="help-block">Required</span>-->
            </div>
        </div>
        
        <div ng-show="errorText !== undefined && errorText.length > 0" class="login_error">
	        <span>{{errorText}}</span>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary special_b">SIGN IN</button>

            <a href="#/reset" class="btn2 username">forgot?</a>
        </div>


        <div class="sign_up">
            <a href="/signup">Sign Up</a>
        </div>
    </form>
</div>

<div class="b_foot"></div>