/* Navbar */

.nopad{
	padding: 0px !important;
}

.navbar {
  border-radius: 0px;
  background-color: rgb(65,74,91);
  border: 0px;
  margin-bottom: 0px;
}
 
.navbar-brand {
  padding: 0px;
}

.navbar-brand img {
margin-top: 10px;
float: left;
}

.small-link {
  font-size: 12px;
}

.navbar-nav {
  width: 100%;
  text-align: center;
}
.navbar-nav li {
//   float: none;
  display: inline-block;
}

.navbar-nav li a{
  color: #646f7e;
}

.navbar-default .navbar-nav > .active > a {
  background-color: #455263;
  color:#45caa7 !important;
}

.sort-active a {
  color: #45caa7 !important;
}

ul.nav li a {
  color: #646f7e !important;
}

ul.nav li a:hover {
  color: #45caa7 !important;
}

.navbar-default .navbar-nav > .active > a:hover{
color: #555;
background-color: #455263;
}


/* Top Info Section */

#files-information {
margin-top: 4px;
}
.top_dash {
margin-top: 10px;
height: 30px;
margin-bottom: 10px;
width: 100%;
}


ul.horizontal li {
float: left;
color: #a8b0be;
margin-right: 12px;
}

// Custom File Input Button

input.custom-file-input {
width: 80px;
float: left;
height: 30px;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
content: 'Upload';
display: inline-block;
/* background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3); */
border-radius: 3px;
padding: 5px 15px;
outline: none;
white-space: nowrap;
-webkit-user-select: none;
cursor: pointer;
font-size: 9pt;
background: #3f4956;
color: #a8b0be;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}


.center-subheader span {
float: left;
margin-top: 3px;
color: #a8b0be;
}


/*

#files-information {
  position: relative;
  height: 40px;
  margin-left: 2px;
  color: #a8b0be;
}

ul.horizontal {
  display: inline;
  float: left;
  position: absolute;
  left: 10px;
}

ul.horizontal li {
  display: inline;
  margin-right: 15px;
  color: #a8b0be;
  font-size: 14px;
  line-height: 40px;
}

.center-wrapper {
  position: relative;
  left: 50%;
  float: left;
}

.center-subheader {
  position: relative;
  left: -50%;
  float: left;
  margin-top: 10px;
}

.center-subheader button {
  background: rgb(68, 74, 86);
  border: 0;
  color: rgb(141,147,158);
}

.files-section > div{
  margin-top: 10px;
}
*/

.drop-zone {
  opacity:0.0;
  z-index: 0;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

.drop-zone span {
	background: white;
	height: 96vh;
	width: 96vw;
	vertical-align: middle;
	background: rgba(65, 74, 91, 0.81);
	text-align: center;
	box-shadow: 0px 0px 24px #2a3342;
	transition: .3s ease-out;
	border: 2px dashed;
	margin: 0 auto;
	margin-top: 2vh;
	padding-top: 42vh;
	font-size: 1.5em;
	transition: .3s ease-out;
}

.drop-zone span:hover {
  background: #45CAA7;
}

.drop-zone.drop-hover {
	opacity: 0.9;
	z-index: 1000;
	display: block;
	background-color: rgba(28, 34, 47, 0.85);
	color: white;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	/* box-shadow: inset 0px 0px 0px black; */
	filter: blur(20px) grayscale(20%);
	/* -webkit-filter: blur(5px); */
}



.drop-zone.drop-hover span {
  display: table;
}

.file-in-files {
  height: 100px;
  margin-bottom: 10px;
}

.container {
  z-index: 500;
}



/*
@boxSize: 200px;
@color: #0e6d82;
*/

.animatedBorderBox {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 12px;
  width: 200px;
  height: 200px;
  color: #0e6d82;
  font-size: 20px;

  &:hover {
    color: spin(#0e6d82, 15);

    .background {
      background-position: 100px 0;
    }
    .content {
      background-color: lighten(#0e6d82, 55);
    }
  }
}

.background, .content {
  position:absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.background {
  transition: 1200ms;
  background-color: #0e6d82;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(255,255,255,1) 10px, rgba(255,255,255,1) 20px);
  background-size: 30px;
}

.content {
  transition: 200ms;
  margin: 1px;
  line-height: 200px;
  text-align: center;
  background-color: lighten(#0e6d82, 60);
}

/*  User Upload Styles  */

.outer-container {
  position: relative;
  display: block;
  width: 100%;
  height: 100px;
  -webkit-box-shadow:inset 0 0 0 1px rgba(62,66,75,1);
  box-shadow:inset 0 0 0 1px rgba(62,66,75,1);
  padding: 10px;
  color: rgb(135, 152, 170);
  bottom:100px;
  left:0;
}

.file-preview {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  background: rgb(61, 68, 80);
  float:left;
}

.file-preview .placeholder-file {
  position: absolute;
  height: 60px;
  left: 17px;
  top: 10px;
}

.file-preview .file-type {
  position: absolute;
  background-color: rgba(220, 220, 220, .8);
  height: 20px;
  width: 46px;
  bottom: 10px;
  left: 17px;
  font-size: 15px;
  color: rgb(85, 85, 85);
  padding-left: 5px;
  padding-bottom: 2px;
  font-weight: bold;
}

.file-preview .image-preview {
  height: 100%;
  width: auto;
}

.middle-section {
float: left;
margin-left: 15px;
width: 57vw;
max-width: 480px;
}

.outer-container.active {
  box-shadow: 0px 3px #874be2;
  transition: .3s ease;
}

.file-title {
display: inline-block;
margin-left: 0px;
padding-left: 0px;
float: left;
font-size: 25px;
max-height: 30px;
line-height: 1em;
clear: both;
width: 100%;
}
	.file-preview span {
	line-height: 17px;
	font-weight: 300 !important;
	}

.file-title .file-name {
  color: white;
}

.file-title .file-extension {
  color: #6C6E83;
}

.file-info {
margin-top: 7px;
margin-bottom: 5px;
clear: both;
display: inline-table;
width: 100%;
}

.file-info .file-info-bit {
  float: left;
  //         min-width: 130px;
  margin-right: 25px;
}

.image-preview {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.selected-row {
  border-bottom: 2px red solid;
}

.fa-circle {
  margin-right: 3px;
  font-size: 10px;
}

.pw-icon {
  margin-right: 5px;
}

/*
.file-size {
    margin-left: 10px;
    margin-top: 65px;
    font-size: 12px;
}
*/

.delete {
  float:right;
  height: 98px;
  width: 30px;
  margin-top: -9px;
  margin-right:-9px;
  background: rgb(64, 71, 86);
  color: rgb(95, 105, 119);
  transition: .3s ease-out;
}
.delete:hover {
  background: #333e4d;
}
.delete:hover i{
  color: #f9974f;
}

.delete i {
  margin-top: 46px;
  margin-left: 8px;
  transition: .3s ease-out;
}


.copy {
float: right;
width: 100px;
height: 98px;
margin-top: -9px;
text-align: center;
/* background: gainsboro; */
 padding: 41px 0px;
 transition: .3s ease;
 color: white;
}
	.copy:hover,
	.copy a:hover .copy,
	.copy a:hover{
		background: #333e4d;
	}

.progress-background {
  display: block;
  height: 100px;
  width: 100%;
  backface-visibility: hidden;
  //     background-color: rgba(71, 81, 97, .9);
}

.progress {
  background-color: rgba(71, 81, 97, 0.90);
  height: 100%;
}

.progress-bar {
  background-color: rgba(67, 76, 92, .9);
}

.flip {
  width: 100%;
  height: 100px;
  position: relative;
  perspective: 800px;
}

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform .3s;
}

.card .face {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card .back.face {
  transform: rotateX( 180deg );
}

.card.flipped {
  transform: rotateX( 180deg );
}

.password-enter {
  width: 100% !important;
  height: 100px;
  background-color: rgba(67, 76, 92, .9);
  -webkit-box-shadow:inset 0 0 0 1px rgba(62,66,75,1);
  box-shadow:inset 0 0 0 1px rgba(62,66,75,1);
}

.password-enter input {
  float: left;
  background-color: rgba(67, 76, 92, .9);
  border: none;
  height: 98px;
  width: 100%;
  color: #8ba8ce; /* color after you fill it in */
  padding: 15px 15px 15px 100px;
  font-size: 3.05em;
  transition: .3s ease;
  margin-top: 1px;
  margin-left: 1px;
}

form.ng-valid.ng-dirty {
width: 80% !important;
float: left;
}

.password-enter button {
  float: right; 
}


form.ng-pristine.ng-valid {
float: left;
width: 80%;
}

.password_buttons {
width: 20%;
float: right;
height: 100%;
}

.password-enter button {
float: left;
background: #333E4D;
height: 100%;
border: none;
padding: 0px 15px;
color: white;
background: #404756;
color: #5f6977;
transition: .3s ease-out;
width: 50%;
}

.password-enter button:hover {
  color: white;
  background: #333e4d;
}

.wrong-face {
  display: none !important;
}




// Sign up and Password Section
@media (max-width:600px){
	
	.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 0px;
	padding-right: 0px;
	}
	
	.progress-background {
	display: block;
	height: 100px;
	width: 100%;
	}
	
	.file-in-files {
	height: 140px;
	}
	

	.middle-section.col-sm-8 {
	width: 80%;
	}
	
	.file-title {
	font-size: 1.4em;
	}
	
	.outer-container {
	position: relative;
	display: block;
	width: 100%;
	height: 100px;
	-webkit-box-shadow: inset 0 0 0 1px #3e424b;
	box-shadow: inset 0 0 0 1px #3e424b;
	padding: 10px 0px 0px 0px;
	color: #8798aa;
	bottom: 100px;
	left: 0;
	}
	
	.file-preview {
	margin-left: 10px;
	}
	
	.middle-section{
	height: 90px;
	display: block;	
float: left;
margin-left: 15px;
width: 74vw;
max-width: 450px;
	}
	
	.right-ops {
	clear: both;
	}
	
	.file-size {
	width: 100%;
	}
	
	.copy {
	float: left;
	height: 40px;
	width: 50%;
	padding: 10px;
	background: rgb(61, 66, 79);
	text-align: center;
	}
		
	.delete {
	float: left;
	height: 40px;
	width: 50%;
	text-align: center;
	margin-right: 0px;
	}	
	.delete i {
	margin-top: 14px;
	}
	
	.copy {
	float: left;
	height: 40px;
	width: 50%;
	text-align: center;
	}	
	.copy a {
	margin-top: 14px;
	}
	
	
	
	.row.col-sm-12.file-info {
	clear: both;
	display: inline-block;
	width: 100%;
	margin-top: 7px;
	margin-bottom: 1px;
	}
}


@media (max-width:500px){
	.file-preview {
	display: none;
	}
	
	.middle-section{
	width: 100%;
	max-width: 100%;
	}

}


@media (max-width:320px){

	.file-title {
	font-size: 1.1em;
	}
	
	.middle-section.col-sm-8 {
	width: 100%;
	padding-right: 0px;
	}
}