.pigion-ad {
background: rgba(66, 74, 91, 0.98);
box-shadow: Inset 0px 0px 0px 1px #3a404a;
margin-top: 10%;
min-height: 400px;
}

  .pigion-ad img {
    width: 100px;
    margin: 50px auto 30px auto;
    display: block;
  }

	.pigion-ad .tagline {
	width: 40%;
	margin: 0 auto;
	display: block;
	color: #23b7a9;
	text-align: center;
	font-weight: 400;
	font-size: 1.2em;
  }

  .pigion-ad .learn-more {
    width: 130px;
    margin: 50px auto 0px auto;
  }

.file-container {
background: rgba(66, 74, 91, 0.81);
color: white;
box-shadow: Inset -1px 0px 0px 1px #3a404a;
margin-top: 10%;
min-height: 400px;
}

  .file-container .file-type-container {
    background: rgba(61, 68, 79, 1);
    width: 220px;
    height: 220px;
    margin: 40px auto 10px auto;
  }

  .file-container .file-info {
    width: 320px;
    margin: 0 auto;
    text-align: center;
  }

    .file-container .file-info .file-name {
      color: white;
      font-size: 20px;
    }

    .file-container .file-info .file-extension {
      color: #808080;
      font-size: 20px;
    }

    .file-container .file-info .file-size {
      font-size: 14px;
      color: #808080;
    }

  .file-container .file-download {
    width: 120px;
    margin: 0 auto;
    color: black;
  }

    .file-container .file-download a {
      width: 120px;
      margin-top: 20px;
    }

.btn.download {
color: #fff;
background-color: rgba(58, 64, 74, 0.5);
font-size: .9em !important;
border-color: #3a404a;
font-weight: 300;
padding: 10px 30px !important;
}
	.btn.download:hover {
	background: #3a404a;
	color: #45caa7;
	}
	
	
	
	
@media (max-width:767px){
	
	.pigion-ad, .file-container { 
		margin-top: 0px;
		}






}