body {
background: #455263;
background-image: url(images/dot_path.png);
font-family: helvetica neue,helvetica light,helvetica,arial;
font-weight: 300;
background-size: cover;
background-repeat: no-repeat;
background-position: 80% 170px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #3a404a inset;
    color: red;
}

#fade{
    -webkit-transition:opacity 2s ease-in-out;
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 0px;
  border-bottom: none;
}

a {
    color: #808691;
    text-decoration: none;
    transition: .5s ease;
}

a:hover {
    color: #45caa7;
    transition: .3s ease;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #3a404a inset;
    color: white;
    transition: .3s ;
}

.button {
    background: rgba(63, 73, 86, 1);
    border: 1px solid #3a404a;
    color: #808691;
    width: auto;
    height: auto;
    border-radius: 3px;
    padding: 9px 20px;
    text-align: center;
    font-size: 1em;
    line-height: 1.4em;
    font-weight: 200;
    display: table;
    transition: .5s ease;
}

.button:hover{
    transition: .3s ease;
    color: #45caa7;
}


.clearfix{
    clear: both;
}

.center {
    width: 300px;
    margin: 20vh auto;
}

.s_field input {
  border-radius: 3px;
  background-color: #3a404a;
  border: none;
  height: 50px;
  margin-bottom: 10px;
  width: 100%;
  color: #8ba8ce;
  padding: 15px;
  font-size: 1.2em;
  transition: .3s;
  }

/*.container {*/
    /*position: relative;*/
    /*margin: 0 auto;*/
    /*width: 480px;*/
    /*height: 140px;*/
    /*background-color: #333;*/
    /*border-radius: 8px;*/
/*}*/

.logo{
    width: 60%;
    margin-bottom: 10px;
}

button.btn.btn-primary {
    border: 1px solid #3a404a;
    height: 40px;
    border-radius: 3px;
    padding: 10px 60px 10px 15px;
    font-size: 1em;
    line-height: 1.4em;
    font-weight: 100;
}



.special_b {
  margin-right: 4%;
  width: 48%;
  height: 40px;
  top: calc(50% - 18px);
  left: 50px;
  color: #808691;
  font: 16px sans-serif;
  float: left;
  text-align: left;
  padding: 10px 20px 10px 15px !important;
  background-image: -moz-linear-gradient(left, #4fd0a6 0%, #23b7a9 45%, #3a404a 60%, #3f4956 71%, #3f4956 100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #4fd0a6), color-stop(45%, #23b7a9), color-stop(60%, #3a404a), color-stop(71%, #3a404a), color-stop(100%, #3f4956));
  background-image: -webkit-linear-gradient(left, #4fd0a6 0%, #23b7a9 45%, #3a404a 60%, #3a404a 71%, #3f4956 100%);
  background-image: -o-linear-gradient(left, #4fd0a6 0%, #23b7a9 45%, #3a404a 60%, #3a404a 71%, #3f4956 100%);
  background-image: -ms-linear-gradient(left, #4fd0a6 0%, #23b7a9 45%, #3a404a 60%, #3a404a 71%, #3f4956 100%);
  background-image: linear-gradient(to right, #4fd0a6 0%, #23b7a9 45%, #3a404a 60%, #3a404a 71%, #3f4956 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fd0a6', endColorstr='#803a404a',GradientType=1 );
  background-size: 400% 300%;
  background-position: 100% 0;
  transition: background-position 0.7s ease, color 0.7s ease;
  transition-delay: .1s;
}

.special_b:hover {
    /* shift background gradient position */
    background-position: 0 0;
    transition: background-position 1.5s ease, color 1.5s ease;

    color: rgba(63, 73, 86, 1);
}

a.btn2 {
    color: #808691;
    transition: .5s ease;
}

a.btn2:hover {
    color: #45caa7;
    transition: .3s ease;
}

.btn2{
    background: rgba(63, 73, 86, 1);
    border: 1px solid #3a404a;
    height: 40px;
    border-radius: 3px;
    font-size: 1em;
    line-height: 1.4em;
    font-weight: 100;
}


.username {
  width: 48%;
  height: 0px;
  display: block;
  float: left;
  padding: 19px 0px;
  line-height: 0px;
  text-align: center;
  font-weight: 200;
}

.sign_up {
    width: 96%;
    display: inline-block;
    margin: 15px 0px;
    text-align: center;
    clear: both;
//      opacity: .5;
    transition: .5s ease;
}
.sign_up:hover {
    opacity: 1;
    transition: .3s ease;
}

.sign_up a {
color: rgb(76, 199, 173);
}
.sign_up a:hover {
color: rgb(76, 199, 173);
}


.login_error {
color: rgb(245, 140, 144);
font-size: .9em;
background: rgb(74, 58, 65);
padding: 10px;
width: 250px;
margin-bottom: 10px;
border-radius: 3px;
border: 1px solid rgba(224, 89, 89, 0.5);
}



.b_foot {
    background-image: -moz-linear-gradient( 0deg, #4fd0a6 0%, #17b0aa 100%);
    background-image: -webkit-linear-gradient( 0deg, #4fd0a6 0%, #17b0aa 100%);
    background-image: -ms-linear-gradient( 0deg, #4fd0a6 0%, #17b0aa 100%);
    width: 100%;
    height: 12px;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

input:focus {
    padding-bottom: 12px;
    border-bottom: 3px solid #874be2;
    transition: .3s ;
}
