.container.sign_up_screen {
max-width: 700px;
margin: 0 auto;
}


.dark-text-input {
  display: block;
  border-radius: 3px;
  background-color: rgb( 58, 64, 74 );
  border: none;
  height: 50px;
  margin-bottom: 10px;
  color: #8ba8ce; /* color after you fill it in */
  padding: 15px;
  font-size: 1.05em;
  transition: .3s;
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 0px;
  border-bottom: none;
}

.logo{
    width: 60%;
    margin-bottom: 10px;
}

.signin_1 {
width: calc(50% - 20px);
margin-right: 20px;
}

.sign_up_screen span {
  color: white;
  display: block;
  margin: 20px 0px 5px;
}

.personal-info input{ 
	display: block;
  border-radius: 3px;
  background-color: #3a404a;
  border: none;
  height: 50px;
  margin-bottom: 10px;
  /* width: 250px; */
  color: #8ba8ce;
  padding: 15px;
  font-size: 1.2em;
  transition: .3s;
}

.where-to-host {
  display: table;
  width: 100%;
}




.host_opt {
border-radius: 3px;
background: #3A404A;
padding: 7px 20px 10px;
margin-bottom: 10px;
height: 50px;
}
	.host_opt.selected {
	border: 1px solid #4fd0a6;
	color: white;
	box-sizing: border-box;
	padding: 6px 19px 10px;
	}
	
	.host_opt.selected .host-name {
		color: white;
		}


.host-logo {
float: left;
margin-right: 10px;
margin-top: 5px;
}


.host-name {
float: left;
font-weight: 400;
font-size: 1.2em;
margin-top: 9px;
color: rgb(120, 143, 173);
line-height: 18px;
}

input.btn2 {
margin: 30px 0px;
padding: 12px 50px 30px;
color: white;
font-size: 1.3em;
height: 50px;
}

.signup-form button.btn.btn-primary.special_b {
  max-width: 200px;
  text-align: center;
  }

.small_3 {
width: calc(33% - 5px);
float: left;
margin-right: 10px;
}

.where-to-host .host_opt:nth-child(5){
margin-right: 0px;
}

@media (max-width: 992px) {
	.signin_1 {
	width: 100%;
	}

  }
  
  
  
  @media (max-width: 630px) {
	.small_3 {
	width: 100%;
	float: left;
	margin-right: 0px;
	}
	
	.container.sign_up_screen{
	margin: 10px;
	}

  }
  
  
  
  
  