<link href="assets/grid.min.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="assets/signup.css" />


<div class="container sign_up_screen">
	
    <div class="page-header">
        <img src="assets/images/logo.png" cl ass="logo">
    </div>
	
    <form name="form" class="signup-form" novalidate>
        <div class="personal-info">
            <span>Personal Info </span>
            <input class="dark-text-input col-md-6 col-xs-12 signin_1" type="text" ng-model="user.firstName" name="first-name" placeholder="First Name" required="" />
            <input class="dark-text-input col-md-6 col-xs-12 " type="text" ng-model="user.lastName" name="first-name" placeholder="Last Name" required="" />
            <input class="dark-text-input col-xs-12 " type="email" ng-model="user.email" name="email" placeholder="Email" required="" />
            <input class="dark-text-input col-xs-12 " type="password" ng-model="user.password" name="password" placeholder="Password" required="" />
        </div>

        <div class="where-to-host">
            <span>Where to Host</span>

            <div class="host_opt selected col-sm-12"
                 ng-class="{'selected' : selectedHost == 'pigion'}"
                 ng-click="selectedHost = 'pigion';" >
                <img ng-hide="selectedHost == 'pigion'" class="host-logo pigion" src="assets/images/pigion_host_off.png" alt="pigion">
                <img ng-show="selectedHost == 'pigion'" class="host-logo pigion" src="assets/images/pigion_host_on.png" alt="pigion">
                <div class="host-name">With Us</div>
            </div>

            <div class="host_opt small_3"
                 ng-class="{'selected' : selectedHost == 'dropbox'}"
                 ng-click="selectedHost = 'dropbox';" >
                <img ng-hide="selectedHost == 'dropbox'" class="host-logo" src="assets/images/drop_host_off.png" alt="dropbox">
                <img ng-show="selectedHost == 'dropbox'" class="host-logo" src="assets/images/drop_host_on.png" alt="dropbox">
                <div class="host-name">Dropbox</div>
            </div>

            <div class="host_opt small_3"
                 ng-class="{'selected' : selectedHost == 'drive'}"
                 ng-click="selectedHost = 'drive';" >
                <img ng-hide="selectedHost == 'drive'" class="host-logo" src="assets/images/drive_host_off.png" alt="drive">
                <img ng-show="selectedHost == 'drive'" class="host-logo" src="assets/images/drive_host_on.png" alt="drive">
                <div class="host-name">Google Drive</div>
            </div>

            <div class="host_opt small_3"
                 ng-class="{'selected' : selectedHost == 's3'}"
                 ng-click="selectedHost = 's3';" >
                <img ng-hide="selectedHost == 's3'" class="host-logo" src="assets/images/amazon_host_off.png" alt="s3">
                <img ng-show="selectedHost == 's3'" class="host-logo" src="assets/images/amazon_host_on.png" alt="s3">
                <div class="host-name">Amazon S3</div>
            </div>

        </div>
        
        <button type="submit" ng-click="signup(user)" value="Sign Up" class="btn btn-primary special_b">Sign Up</button>
        
<!--         <input type="submit" ng-click="signup(user)" value="Sign Up" class="btn2" /> -->
    </br>     </br>    </br>    </br>     </br>    </br>    </br>     </br>    </br>
    </form>
</div>

