<!--<link href="/assets/css/bootstrap.min.css" rel="stylesheet"/>-->


<script type="text/javascript">
    $(document).ready(function() {
        $('#fade')
                .css({"opacity":0})   // Set to 0 as soon as possible – may result in flicker, but it's not hidden for users with no JS (Googlebot for instance!)
                .delay(10000)           // Wait for a bit so the user notices it fade in
                .css({"opacity":1});  // Fade it back in. Swap css for animate in legacy browsers if required.
    });

</script>

<div class="center">
    <div class="page-header">
        <img src="images/logo.png" class="logo">
    </div>

    <form class="form-horizontal" autocomplete="off" method="POST" ng-submit="login();" id="fade" novalidate>
        <div class="control-group s_field" id="username_field">
            <!--<label class="control-label" for="username">Email</label>-->
            <div class="controls">
                <input type="text" id="username" name="username" ng-model="username" value="" placeholder="Email" class="input-xlarge"  autocomplete="off">
                <!--<span class="help-block">Required</span>-->
            </div>
        </div>

        <div class="control-group s_field" id="password_field">
            <!--<label class="control-label" for="password">Password</label>-->
            <div class="controls">
                <input type="password" id="password" name="password" ng-model="password" placeholder="Password" class="input-xlarge"  autocomplete="off">
                <!--<span class="help-block">Required</span>-->
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary special_b">SIGN IN</button>

            <a href="#/reset" class="btn2 username">username?</a>
        </div>


        <div class="sign_up">
            <a href="/signup">Sign Up</a>
        </div>
    </form>
</div>

<div class="b_foot"></div>